.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color:black ;
  color:white;
}
.jumbotron {
  color: black;
  background-image:url("../img/jumbotron-desk.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}
/*CAROUSEL*/
.carousel {
  background: grey;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  width:40%;
height:100%;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 480px) {
   .carousel .item img {
        width:100%;
    }
}

@media screen and (max-width: 750px) {
    .paddingAdjust{
        padding:20px;
    }
}

.corousel-divs{
  background:white;
  color:black;
  font-size: 16px;
  border-radius: 10px;
  border: 4px solid grey;

}

#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
border-bottom-color: black;
}
.btn-carousel-more{
font-size: 18px;
}
/*NAVBAR*/
.navbar-inverse {
  background: black;
  color: black;
}
.navbar-inverse .navbar-nav > .active > a {
  background: black;
  color: black;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: black;
  color: grey;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: black;
  color: grey;
}
.navbar-inverse .navbar-nav > .open > a {
  background: black;
  color: white;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: black;
  color: grey;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: black;
  color: grey;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background: black;
  color: grey;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background: black;
  color: white;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}

#jumbotron-logo{
  min-height: 200px;
  position: center;
}

.wrapper-text{
    height: 80%;
}
.p-text{
     text-align: justify;
    text-justify: inter-word;
}

.hand{
     cursor: pointer; cursor: hand;
}

.center{
	  margin-left: auto;
    margin-right: auto;
}

.bwImg{
	-webkit-filter: grayscale(100%); 
-moz-filter: grayscale(100%); 
-ms-filter: grayscale(100%); 
-o-filter: grayscale(100%); 
filter: grayscale(100%); 
}

.frameborder{
	border:1px solid lightgrey;
}

.nav-stacked > li {
  color: grey;
}

.nav-stacked > li > a:hover{
  color: black;
}

.nav-pills > li {
  color: grey;
}

.nav-pills > li > a:hover{
  color: black;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: grey;
}

a {
  color: black;
  text-decoration: none;
}

.btn-primary{
  background: black;
}

.label-danger{
  background: white;
  color: black;
}